* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background: linear-gradient(to right, #544a7d, #ffd452);
    font-family: 'Poppins', sans-serif; 
}

body > div {
    display: flex;
    justify-content: center;
}

img {
    width: 70%;
}

#form {
    width: 80%;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 30px;
}

h1 {
    text-align: center;
    color: #544a7d;
    padding-bottom: 40px;
}

#form button {
    background-color: #ffd452;
    color: #070707;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0;
    cursor: pointer;
    font-size: 20px;
    width: 100%;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-group input {
    border-radius: 5px;
    font-size: 20px;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid rgb(34,193,195);
}

.input-group input:focus {
    outline: 0;
}

.input-group .error {
    color: rgb(242, 18, 18);
    font-size: 16px;
    margin-top: 5px;
}

.input-group.success input {
    border-color: #0cc477;
}

.input-group.error input {
    border-color: rgb(206, 67, 67);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#strengthBar {
    width: 100%;
    height: 10px;
    margin: 5px 0;
    background-color: lightgray;
    position: relative;
}

#strengthBar .bar {
    height: 100%;
    position: absolute;
    top: 0;
}

#weak {
    width: 0%;
    background-color: red;
}

#medium {
    width: 0%;
    background-color: orange;
}

#strong {
    width: 0%;
    background-color: green;
}

.flecha {
    position: absolute;
    left: 20px;
    top: 40px;
    cursor: pointer;
}

@media screen and (max-width: 1505px) {
    body {
        grid-template-columns: 30% 50% 20%;
    }
}

@media screen and (max-width: 850px) {
    body {
        grid-template-columns: 10% 80% 10%;
    }
    img {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .flecha {
        display: none;
    }
}
