*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 52% 48%;
}

.gray{
    background-color: #d1cdb7;
    display: grid;
    grid-template-columns: 47% 53%;
}

.t-pago{
    padding-bottom: 10px;
}

.pago{
    padding: 54px 0;
    padding-right: 56px;
}

.pago form{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.pago form > div{
    padding: 10px 0;
}

.pago form h4{
    padding: 0 0 10px 0;
}

.metodo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
    border: 1px solid #a3a1a1;
    border-radius: 1rem;
    cursor: pointer;
}

.tipo{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
    padding-left: 12px;
}

.precio{
    padding-right: 12px;
}

.metodo .radio{
    width: 18px;
    margin-right: 20px;
}

.t-metodo{
    margin-top: 10px;
    padding: 0;
}

.tarjeta{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 14px;
    text-align: center;
}

.tarjeta .radio{
    display: none;
}

.tarjeta .metodo{
    padding: 12px 0;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.tarjeta label{
    position: relative;
}


.border{
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-basis: 0px;
    padding: 1px;
    border-width: 1px;
    border-style: solid;
    border-color: #a3a1a1;
    border-radius: 1rem;
    position: relative;
    margin-left: 2px;
    margin-right: 2px;
    z-index: 1;
    outline-offset: -1px;
}

.pago form input{
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 12px 16px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 14px;
}

.pago button{
    border: none;
    width: 100%;
    margin-top: 10px;
    padding: 20px;
    background-color: #27305a;
    color: #fff;
    border-radius: 1rem;
    cursor: pointer;
}

#datosTarjetaContainer > div{
    padding: 5px 0;
}

#datosTarjetaContainer {
    opacity: 1;
    max-height: 500px; /* Ajustar según el contenido */
    visibility: visible;
    transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

#datosTarjetaContainer.hidden {
    opacity: 0;
    max-height: 0;
    visibility: hidden;
}

.flecha{
    position: absolute;
    left: 20px;
    top: 40px;
    cursor: pointer;
}










.beige{
    background-color: #c7c795;
    display: grid;
    grid-template-columns: 53% 47%;
}

.beige p{
    display: flex;
    align-items: center;
}


.producto{
    padding: 54px 0;
    padding-left: 56px;
}

section{
    margin-top: 30px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.imagen-socio{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
}

.pago-impuestos {
    border-top: #000 1px solid;
    border-bottom: #000 1px solid;
    padding: 14px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.producto-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.producto-flex img{
    height: 100px;
}

section .prod-membresia > div{
    display: flex;
    justify-content: space-between;
}

section .total > div{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
}


.datos-compra{
    padding-top: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.datos-compra-socio{
    padding-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.datos-compra-socio > p{
    margin: 20px;
}


/* RESPONSIVE */

/* .container{
    height: 100vh;
    display: grid;
    grid-template-columns: 52% 48%;
}

.gray{
    background-color: #d1cdb7;
    display: grid;
    grid-template-columns: 47% 53%;
}

.beige{
    background-color: #c7c795;
    display: grid;
    grid-template-columns: 53% 47%;
} */




/* Estilos para el modal de éxito */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Posición fija */
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 
    /* display: flex;  */
    align-items: center; 
    justify-content: center; 
}

.modal-content {
	display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fefefe;
    padding: 30px;
    border: 1px solid #888;
    width: 100%;
    max-width: 570px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    position: relative;
}


.close {
    color: #aaa; 
    position: absolute; /* Posicionamiento absoluto */
    top: 10px; /* Desplazamiento desde la parte superior */
    right: 10px; /* Desplazamiento desde la derecha */
    font-size: 28px; 
    font-weight: bold; 
}

.close:hover,
.close:focus {
    color: black; 
    text-decoration: none; 
    cursor: pointer; 
}









@media screen and (max-width: 1200px){
    
    .gray{
        display: grid;
        grid-template-columns: 32% 68%;
    }
    .beige{
        display: grid;
        grid-template-columns: 68% 32%;
    }
    
}

@media screen and (max-width: 957px){
    
    .gray{
        display: grid;
        grid-template-columns: 20% 80%;
    }
    .beige{
        display: grid;
        grid-template-columns: 80% 20%;
    }
    
}


@media screen and (max-width: 779px){
    .container{
        display: grid;
        grid-template-columns: 100%;
    }
    .gray,
    .beige{
        display: grid;
        grid-template-columns: 100%;
    }
    .pago,
    .producto{
        padding: 54px 8px;
    }
    .flecha{
        display: none;
    }
}